#rjdp_tips{
		position: fixed;
		right: 0px;
		top: 0px;
		border: 1px solid #ccc;
		background: #f7f7f7;
		width: 260px;
		z-index: 9999999;
		line-height: 1.8;
		color: #000;
   }
   #rjdp_tips h1{
   		font-size: 16px;
   		margin: 8px 8px 0;
   		text-align: left;
   }
   #rjdp_list{
		padding: 6px;
   }
   #rjdp_close{
		position: absolute;
		top: 6px;
		right: 6px;
		font-size: 14px;
		font-weight: 600;
		font-family: Tahoma;
		color: #0B7ECE;
   }
   .rjdp_item{
		word-wrap: break-word;
		margin-bottom: 10px;
		font-family: Tahoma;
		text-align: center;
		font-size: 14px;
   }
   .rjdp_item *{
   		font-size: 14px;
   }
   .rjdp_item em{
		font-size: 18px;
		padding: 0 6px;
		font-weight: 600;
   }   